{% extends "base.html" %}

{% block title %}
    {% load i18n %}
    <title>{% trans "安吉康尔 | 媒体新闻" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "news/news.css" %}?time={% now "YmdHi" %}">
    <div id="newsdetail">

        <div class="container">
            <div id="newswrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="newsitem">
                            <div class="title">
                                {{ news.title }}
                            </div>
                            <div class="newscontent">
                                <div class="author">
                                    <span>编辑：{{ news.author }}&nbsp; &nbsp; &nbsp; &nbsp;  发布时间：{{ news.time|date:"m/d/Y" }}</span>
                                </div>
                                <div class="content">
                                    {{ news.content|safe }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}