.footer-distributed{
	background-color: #248860;
	background-color: #489965;
	box-shadow: 0 1px 1px 0 rgba(36, 136, 96, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 14px sans-serif;

	padding: 25px 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right,
.footer-distributed .footer-center1,
.footer-distributed .footer-center{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 35%;
	padding-right: 20px;
}

/* The company logo */

.footer-distributed h3{
	/*color:  white;*/
	font: normal 32px 'Cookie', cursive;
	margin-bottom:10px;
	margin-top: -5px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  white;
	margin: 10px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links ul{
	list-style: none;
	color: white;
	padding-left: 0px;
}

.footer-distributed .footer-links ul li{
	margin-bottom: 5px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: normal;
}

.footer-distributed .footer-links a:hover{
	text-decoration: none;
	color: #dddddd;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 15%;
	padding-left: 5px;
}


/* Footer Right */

.footer-distributed .footer-right{
	font-size: 14px;
}

.footer-distributed .footer-right i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 120%;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	margin: 5px;
	vertical-align: middle;
}

.footer-distributed .footer-right p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-right p a{
	color:  white;
	text-decoration: none;;
}

.footer-distributed .footer-right p a:hover{
	color:  #dddddd;
}


.footer-distributed .footer-company-about{
	line-height: 20px;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	color: white;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 120%;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50%;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


.footer-distributed .copyright{
	color: white;
	font-size: 100%;
	font-weight: normal;

}

.footer-distributed hr{
	background-color: #cccccc;
	color: #cccccc;
	height: 1px;
	border: none;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right,
	.footer-distributed .footer-center{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-right i{
		margin-left: 0;
	}

}
