{% extends "base.html" %}


{% block title %}
    {% load i18n %}
    <title>{% trans "安吉康尔 | 癌症诊断" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index.css" %}?time={% now "YmdHi" %}">
    <div id="genetic">
        <div class="container">
            <div id="geneticwrapper">
                <div class="title">
                    实体肿瘤病理组织全基因组测序
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">

                            肿瘤是一种复杂的基因病，随着检测技术的更新迭代，对肿瘤的驱动基因、致病基因以及耐药基因的研究越来越深入，更多的基因被发现与肿瘤治疗药物的治疗效果密切相关。高通量测序（NGS）技术的不断发展、测序成本的大幅下降，为临床实现对肿瘤患者的精准治疗提供了有利条件。安吉康尔依托最先进的高通量测序平台、国际领先的基因组数据分析算法，为癌症患者和医生提供精准决策辅助，可应用于肺癌、胃癌、结直肠癌、乳腺癌等实体瘤检测。
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                检测内容
                            </div>

                        </div>
                        <div class="col-md-10">
                            肿瘤组织全基因组测序，测序深度100X
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                适用人群
                            </div>

                        </div>
                        <div class="col-md-10">
                            全部实体瘤患者
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                样品要求
                            </div>

                        </div>
                        <div class="col-md-10">
                            <p>肿瘤样本： 新鲜组织（手术/穿刺）；冰冻组织（手术/穿刺）；石蜡切片（手术/穿刺）</p>
                            <p>对照样本： 3-5ml外周血液</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                测序结果分析内容
                            </div>

                        </div>
                        <div class="col-md-10">
                            序列比对+变异识别+拷贝数变化+染色体结构变化+肿瘤含量估测+非整倍性分析+肿瘤异质性分析
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                产品优势
                            </div>

                        </div>
                        <div class="col-md-10">
                            最全面基因组信息--覆盖肿瘤细胞以及正常细胞的全基因组测序，最为全面的基因检测方案，最大限度地探索致病机理、最大程度地帮助发现治疗机会
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}