{% extends "base.html" %}


{% block title %}
    {% load i18n %}
    <title>{% trans "安吉康尔 | 临床决策智能辅助系统" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index.css" %}?time={% now "YmdHi" %}">
    <div id="cdss">
        <div class="container">
            <div id="cdsswrapper">
                <div class="title">
                    临床决策智能辅助系统
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content">
                            <p>安吉康尔推出的临床决策智能辅助系统（Clinical Decision Support System,
                                简称<b>CDSS</b>）是一种协助医生和患者进行医疗决策的交互式专家系统。</p>
                            <p>CDSS是人工智能理论在医疗领域的主要实践，它能够连接临床观察和临床知识，影响临床决策以及改善临床结果。
                                医学知识的复杂性导致了医疗决策时需要考虑非常多的因素，如患者的症状、体征、实验室检查数据、家族史、基因、流行病学资料、现有的医学文献等等。而且，每年发表的临床研究数以千计，其中不少研究彼此矛盾，大量的数据增加了数据分析整合的难度，导致了医疗工作者需要花费大量时间去研究临床病理和患者资料，降低了工作效率。安吉康尔提供以基因组数据为入口，结合分子生物学、影像学、用药史、家族遗传史以及传统医疗信息系统中所包含的其他临床数据，利用基于人工智能的临床决策支持系统为用户提供个性化定制的临床决策辅助。</p>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="content">
                            <div class="cdssImage">
                                <img src="{% static "img/cdss.png" %}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}