{% extends "base.html" %}

{% block title %}
    {% load i18n %}
    <title>{% trans "安吉康尔 | 遗传病筛查" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index.css" %}?time={% now "YmdHi" %}">
    <div id="genetic">
        <div class="container">
            <div id="geneticwrapper">
                <div class="title">
                    遗传病全谱基因检测
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">


                            <p>
                                人类遗传病的诊断和治疗一直都是医学界的难题，主要原因在于：</p>
                            <ol>
                                <li>遗传病种类繁多，且多为罕见病，医生往往只能识别其中的很少一部分；</li>
                                <li>一种遗传病可能对应多种疾病表型（比如癫痫就有五百多种疾病表型），各表型之间往往特征相似难以区分；</li>
                                <li>很多遗传病可能并没有明显的家族遗传表征，并且属于慢性病，相当长的时间内并没有显著病征并可能涉及多系统受累，容易误诊；</li>
                                <li>有些遗传性疾病的临床表现随疾病发展而改变，刚起病时仅表现出一部分特征，仅依据刚起病时的临床特征而不参照基因数据难以诊断。</li>
                            </ol>

                            <div class="row">
                                <div class="col-md-11">

                                    <table class="table table-striped geneticTable">
                                        <tr>
                                            <td>遗传病总量</td>
                                            <td>>7000</td>
                                        </tr>

                                        <tr>
                                            <td>遗传病已知基因突变数量</td>
                                            <td>>200000</td>
                                        </tr>

                                        <tr>
                                            <td>每年新识别出致病原因的遗传疾病数量</td>
                                            <td>250</td>
                                        </tr>

                                        <tr>
                                            <td>每年新识别的与现有疾病相关联的基因突变数量</td>
                                            <td>920</td>
                                        </tr>

                                        <tr>
                                            <td>分析个人基因信息所需的人工时间</td>
                                            <td>40-60小时</td>
                                        </tr>

                                        <tr>
                                            <td>疑似罕见遗传疾病患者中首次基因测序就能获得诊断的比例</td>
                                            <td><25%</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                            <h4><b>
                                遗传病的全谱检测和分析对病人极其重要但极具挑战性，安吉康尔利用最先进的人工智能技术提供最佳解决方案
                            </b></h4>

                            <p>
                                遗传病的诊断长期以来依靠医生的经验，圈定少量可能致病的基因进行针对性的测序，经常导致误诊或漏诊。随着第二代基因测序技术的不断成熟完善，全谱的外显子组测序在遗传病诊断领域逐渐成为主流。通过一次检测覆盖人类所有22000多个基因、180000个外显子和6000多万个位点的全外显子组测序在临床应用中具有简便、经济、高效的特点，同时由于其对目标区域的覆盖度更高，有利于基因变异的检出，提高遗传疾病的诊断率。同时安吉康尔开发了高精度全自动的遗传病全外显子组测序数据分析系统和智能解读系统，为患者带来最精准，最快速，最经济，最权威的检测服务。
                            </p>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                检测内容
                            </div>

                        </div>
                        <div class="col-md-3">
                            正常体细胞全外显子组测序
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                适用人群
                            </div>
                        </div>
                        <div class="col-md-8">
                            新生儿，疑似遗传病患者，具有相关疾病家族遗传史的健康人，复杂遗传病患者的父母(trio测试)。
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                样品要求
                            </div>

                        </div>
                        <div class="col-md-3">
                            2ml唾液
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                测序结果分析内容
                            </div>
                        </div>
                        <div class="col-md-8">
                            序列比对+变异识别+免费家系验证+临床注释+循证治疗方案+智能检测报告
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="subtitle">
                                产品优势
                            </div>

                        </div>
                        <div class="col-md-10">
                            <p>安全无创——以唾液为检测样本 </p>
                            <p>全谱覆盖——全面检测目前已知的近万种遗传病和罕见病，极大减少误诊漏诊 </p>
                            <p>先进技术——不仅检测单点位突变，还检测基因拷贝数变化和染色体结构性变化 </p>
                            <p>快速报告—— 取样后大约3周产生纸板和电子版报告 </p>
                            <p>临床咨询——Aegicare数据库紧跟临床研究前沿结果，持续为患者更新最合适的治疗方案和用药指导 </p>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

{% endblock %}