{% extends "base.html" %}

{% block title %}
    {% load i18n %}
    <title>{% trans "安吉康尔 | 公司愿景" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index.css" %}?time={% now "YmdHi" %}">
    <div id="mission">
        <div class="container">
            <div id="missionwrapper">
                <img src="{% static "img/mission.jpg" %}">

                <div class="title">
                    智能医疗 引领健康
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            安吉康尔的使命是将基因组大数据和人工智能引入到主流医疗实践中，提高亿万人的医疗健康水平。我们致力于打造以基因组数据为基础、结合患者其他临床医疗数据的人工智能医疗平台，为患者和医生提供临床精准决策支持。
                        </div>
                    </div>

                    <div id="missionBottom">

                        <div class="row">
                            <div class="col-md-4">
                                <div id="mission1"></div>
                                <div class="missionTitle">合理的价格</div>
                                <div class="missionDes">安吉康尔在合理价格内为客户提供全面的分析</div>
                            </div>
                            <div class="col-md-4">
                                <div id="mission2"></div>
                                <div class="missionTitle">领先的技术</div>
                                <div class="missionDes">安吉康尔采用业界最先进的数据分析软件和流程完成高质量的数据分析</div>
                            </div>
                            <div class="col-md-4">
                                <div id="mission3"></div>
                                <div class="missionTitle">翔实的分析</div>
                                <div class="missionDes">安吉康尔提供翔实准确的遗传病全外显子和癌症全基因组数据关联分析</div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div id="mission4"></div>
                                <div class="missionTitle">便捷的流程</div>
                                <div class="missionDes">安吉康尔提供简单快捷的流程，在最短时间内为客户提供报告</div>
                            </div>
                            <div class="col-md-4">
                                <div id="mission5"></div>
                                <div class="missionTitle">科研服务</div>
                                <div class="missionDes">安吉康尔注重科研协作，在用户同意的条件下，将数据应用于临床科研转化</div>
                            </div>
                            <div class="col-md-4">
                                <div id="mission6"></div>
                                <div class="missionTitle">隐私安全</div>
                                <div class="missionDes">安吉康尔遵循HIPPA等安全隐私标准，确保用户数据安全</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        </img>
    </div>

{% endblock %}