{% extends "base.html" %}

{% block title %}
    {% load i18n %}
    <title>{% trans "安吉康尔 | 服务协议" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index.css" %}?time={% now "YmdHi" %}">
    <div id="terms">
        <div class="container">
            <div id="termswrapper">
                <div class="title">
                    服务协议
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            {#                                <img src="{% static "img/terms.png" %}">#}
                            <p>
                                安吉康尔提供的基因检测服务旨在采用新型的基因测序和生物信息分析平台，对检测范围内的遗传性疾病的携带和患病风险进行评估及遗传咨询，为后续的临床诊断和治疗提供辅助依据。由于遗传分析的条件、实验和结果可能非常复杂，在您接受基因检测服务之前进行遗传咨询将有助于您理解相关检测的风险和意义。
                            </p>
                            <p>
                                接受我们的服务前，您需要接受和同意全部的服务条款；一旦接受服务，即为已经接受本协议的全部内容。请您完整阅读或知晓本协议后，接受条款方可接受服务。未满18岁的未成年人需在监护人的允许和知情下进行该服务项目。
                            </p>
                            <p>
                                为有效保障您在接受我们服务过程中的合法权益，安吉康尔提醒您仔细阅读并知悉以下注意事项：
                            </p>
                            <ol>
                                <li>
                                    基因检测运用分子生物学手段对疾病相关基因进行检测和分析，出具的基因检测报告不作为疾病诊断结果，仅为医生作出诊断提供参考。
                                </li>
                                <li>
                                    基因检测技术对检测样本质量有一定要求，如若收到的样本质量不符合检测要求，受检者需要再次提供合格样本。
                                </li>
                                <li>如果受检者前期接受过异体输血、移植手术、干细胞治疗等，会引入外源 DNA，影响检测结果。</li>
                                <li>
                                    基因检测行业是一个不断发展的新领域，疾病研究的进步在不断地更新对遗传疾病致病机制的认知，由于现有技术的局限性，基因检测报告中的阴性结果并不能完全排除受检者患遗传性疾病的可能。
                                </li>
                                <li>
                                    检测结果有可能无法解释或临床意义未知。在极少数情况下，检测结果有可能出现与临床原始诊断不符合的情况。
                                </li>
                                <li>
                                    您在参加基因检测过程中的个人资料均属保密，您的个人信息及送检样本将以编码形式进行标识。我们将在法律允许的范围内，尽一切努力保护您的个人隐私。
                                </li>
                                <li>
                                    对于基因信息和报告的汇总，我们可将其用于科研机构、科研文章的发表、临床治疗方法的改善、药物的研发、诊断监测设备的开发或相关的第三方机构。但未经过您的同意或特殊的法律情况下，我们不会将您的个人遗传信息向任何的第三方机构公开。
                                </li>

                            </ol>

                            <p>本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国法律。因本协议产生之争议，均应依照中华人民共和国法律予以处理，并由被告住所地人民法院管辖。</p>


                        </div>
                    </div>
                </div>
                <div class="details">
                    如果您对上述条款有任何疑问，请联系我们。电话：0755-33201903（深圳），邮箱：<a
                        href="mailto:support@aegicare.com">support@aegicare.com</a>
                </div>


            </div>
        </div>
    </div>
    </div>

{% endblock %}