{% extends "base.html" %}

{% block title %}
    {% load i18n %}
    <title>{% trans "安吉康尔 | 服务协议" %}</title>
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/index.css" %}?time={% now "YmdHi" %}">
    <div id="terms">
        <div class="container">
            <div id="termswrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <div id="image">
                                <img src="{% static "img/terms.png" %}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details">
                    如果您对上述条款有任何疑问，请联系我们。电话：0755-33201903（深圳），邮箱：<a
                        href="mailto:contact@aegicare.com">contact@aegicare.com</a>
                </div>


            </div>
        </div>
    </div>
    </div>

{% endblock %}